/* body{
    margin: 0;
    padding: 0;
}
.cart{
   width: 300px;
   height: 450px;
   background: #000;
   border: 3px solid red;
}
.cart .detail{
    position:  relative;
    overflow: hidden;
    border: 9px solid red;
}
.cart .detail:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000 50%, transparent);
    transition: 0.5s;
    z-index: 1;
}
.cart .detail img{
    width: 50%%;
}
.detail{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    bottom: 0;
} */

body {  
  
  background:linear-gradient(
      rgba(30,27,38, 0.95), 
      rgba(30,27,38, 0.95)),
    url("https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.container{
  width:100%;
  height:100%;
}
.cellphone-container{  
  width:375px;
  height:650px;
  background-color:#1e1b26;
  margin : 60px auto 0 auto;
  box-shadow:5px 5px 115px -14px black;
  border-radius: 4px;
}
.menu {
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 999;
}


/* image edit */
.movie-img {
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  z-index:111 !important;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.35,  rgba(0,0,0,1)),
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(0.65,  rgba(0,0,0,1)),
			color-stop(0.85,  rgba(0,0,0,0.6)),
      color-stop(1.00,  rgba(0,0,0,0)));

  position:relative;

}

.movie{
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 38%, rgba(255,255,255,0.06) 39%, rgba(30,27,38,0.88) 53%, rgba(30,27,38,1) 55%);
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); 
background: linear-gradient(to bottom,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 );

  position:absolute;
  background-size: contain;
  background-size: cover;
  z-index:1 !important;
  width:375px;
  height:660px;
  display:block;
  border-radius:4px;
}

.text-movie-cont{
  padding:0px 12px;
  text-align: justify;
}

.action-btn{
  text-align:right;
}

.movie-gen{
  margin:0px;
  padding:0px;
}

.thegrid { margin: 0 auto; }

.elements-distance{margin:0px}

.mr-grid { width: 100%; }
    .mr-grid:before, .mr-grid:after { content: ""; display: table; }
    .mr-grid:after { clear: both; }
    .mr-grid { *zoom: 1; }

.col1, .col2, .col3, .col3rest, .col4, .col4rest, .col5, .col5rest, .col6, .col6rest{ 
	margin:0% 0.5% 0.5% 0.5%;
    padding:1%;
    float: left;
    display: block;
}
.col1 { width: 98%; }
.col2 { width: 47%; }
.col3 { width: 30.3333333333%; }
.col4 { width: 22%; }
.col5 { width: 17%; }
.col6 {width:13.6666666667%;}

.col3rest { width: 63.6666666667%; }
.col4rest { width: 72%; }
.col5rest { width: 77%; }
.col6rest { width: 80.3333333333%;}

.dribbble-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
}
/* .movie-img{
    width: 400px;
    height: 350px;
} */
